<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Klipper Test Suite">
            <directory>./src/Klipper/Bridge/*/*/Tests/</directory>
            <directory>./src/Klipper/Component/*/Tests/</directory>
            <directory>./src/Klipper/Bundle/*/Tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src/Klipper/</directory>
        </include>

        <exclude>
            <file>.php-cs-fixer.dist.php</file>
            <directory>./src/Klipper/Bridge/*/*/Tests</directory>
            <directory>./src/Klipper/Component/*/Tests</directory>
            <directory>./src/Klipper/Bundle/*/Tests</directory>
            <directory>./src/Klipper/Component/*/Resources</directory>
            <directory>./src/Klipper/Bundle/*/Resources</directory>
            <directory>./src/Klipper/Component/*/vendor</directory>
            <directory>./src/Klipper/Bundle/*/vendor</directory>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
